*
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    letter-spacing:0.1em;
}
.container
{
     width: 100%;
     height: 100vh;
     background:#32a62f;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
}
.score_card_box
{
    position: absolute;
    height: 200px;
    width: 65%;
    top: 4%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
}
.score_logo
{
     width: 50%;
     display: flex;
     flex-direction: column;
     padding: 20px;
    
    
}
.score_logo>p
{
    font-size: 40px;
    margin-top: 9px;
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.score_card
{
    width: 50%;
    padding: 1em;
     display: flex;
}


.score_display
{
    margin-top: 0.5em;
    height: 120px;
    width: 130px;
    background: white;
    margin-left: 20px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}

.score_display>p{
    color: #252525;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1;
}
.score_display>p>span{
    font-size: 2.5em;
}


/* -------------------------------------------playing area css------------------------------------------- */

.playing_area
{
    position: absolute;
    width: 500px;
    height: 400px;
    top: 35%;
    /* display: none; */
    
}
.rock>img:hover{
    transform: scale(1.1);
}
.rock:hover{
    border: 10px solid blue;
    transition: all 0.01s ease-in-out;
    box-shadow: none;
}

.paper>img:hover{
    transform: scale(1.1);
}
.paper:hover{
    border: 10px solid yellow;
    transition: all 0.01s ease-in-out;
    box-shadow: none;
}

.sessior>img:hover{
    transform: scale(1.1);
}
.sessior:hover{
    border: 10px solid purple;
    transition: all 0.01s ease-in-out;
    box-shadow: none;
}

.rock
{
    position: absolute;
    top:10%;
   border: 15px solid blue;
  
}

.paper
{
    position: absolute;
    top:10%;
    right: 10%;
    border: 15px solid yellow;
    
}
.sessior
{
    position: absolute;
    top:68%;
    right: 41%;
    border: 15px solid purple;
}
.action
{
    width: 120px;
    height: 120Px;
    background-color: white;
    border-radius: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.action:hover{
    width: 130px;
    height: 130Px;
}

.line {
    width: 260px;
    height: 0px;
    border: 7px solid black;
  }
  
  .line-1
  {
    position: relative;
    left: 100px;
    top: 100px;
  }
  .line-2 {
    transform: rotate(120deg);
    position: relative;
    left: 190px;
    top: 180px;
  }
  .line-3 {
    transform: rotate(60deg);
    position: relative;
    right: 20px;
    top: 180px;
  }


  /* rules btn  -------------------*/
  .rule_nextpage
  {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 20px;
  }
  .rule_nextpage>button
  {
    padding: 5px;
    margin: 7px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border:2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
  }
  #next_btn{
    display: none;
  }

  .rule_nextpage>button:hover
  {
    background-color: white;
    color:rgb(82, 255, 139);
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
  }






  /*----------------------------------rules--------------------------*/
  #all_rules {
    position: absolute;
    right: 30px;
    bottom: 80px;
    border: 3px solid darkorange;
    width: 200px;
    color: #ffff;
    background-color: #004429;
    border: 5px solid #ffffff;
    border-radius: 13px;
    padding: 1.1rem;
    display: none;
  }
  .close {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -31px;
    top: -29px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffffff;
    border-radius: 50%; 
    cursor: pointer;
  }
  #all_rules>h3{
    text-align: center;
  }
  .rules li
  {
    margin: 5px;
    font-size: 0.8rem;
    list-style-type: square ;
    color: yellow;
  }


  /* ---------------------------------------------------result area---------------------------------------- */
  .result_box
  {

    height: 300px;
    width: 65%;
    position: absolute;
    display: none;
    top: 40%;
   
    
  }

 .result_user
 {
    
    height: 100%;
    width: 33%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;

 }
 .user_result_action
 {
    margin-top: 16%;
    margin-left: 16%;
    margin-right: 15%;
    margin-bottom: 15%;
 }
 .pc_result_action
 {
  margin-top: 16%;
  margin-left: 16%;
  margin-right: 15%;
  margin-bottom: 15%;
 }


 .result_pc
 {
   
    height: 100%;
    width: 33%;
    text-align: center;
 }
 .result_instructions
 {
    height: 100%;
    width: 34%;

 }
 .result_action
 {
    width: 120px;
    height: 120Px;
    background-color: white;
    border-radius: 50%;
    display: flex;
   align-items: center;
   justify-content: center;
    box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
    border: 10px solid blue;
 }

 .btn{
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 30px;
  font-weight: 500;
  border-radius: 10px;

}
.result_instructions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}


.boxes {
  border-radius: 50%;
  align-items: center;
}
.box-2 {
  padding: 1.3rem;
  background-color: #32a62f;
}
.box-1 {
  padding: 1.5rem;
  background: #66b248;
  
}


/* 
////////////////////////////hurray page /////////////////////////////////////////// */

.hurraypage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #32a62f;
  display: none;

}
.won-game {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  color: #ffff;
  position: absolute;
  top: 0;
  left: 0;
}
.won-game-heading {
  font-weight: 600;
  font-size: 6rem;
}
.won-game-sub-heading {
  font-weight: 500;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}
#stars {
  position: absolute;
  top: 40px;
}
#trophy {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}
.play-again-btn
{
  display: block;

}
.btn{
   
      background:none;
      color: white;
      border: 1px solid white;
      border-radius: 9px;
      font-size: 17px;
      font-weight: 500;
      padding: 0.6rem 1.8rem;
      border-radius: 8px;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 1rem;
    
  }
  .btn>a
  {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: white;

  }

  .btn:hover
  {
    
    background-color: white;
    color: black;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
    
  }
.buttons
{
  right: 2em;
  bottom: 2em;
}
  #rules-btn
  {
    right: 20px;
    bottom: 20px;
  }

.buttons {
  position: absolute;
  right: 20px; 
  bottom: 20px; 
}

.rules-btn {
  
  border-radius: 9px;
  font-size: 17px;
  font-weight: 500;
  padding: 0.6rem 1.8rem;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
  position: absolute; 
  right: 2em; 
  bottom: 1em; 
}


/* ----------------------------------------- */

#hurray_all_rules {
  position: absolute;
    right: 30px;
    bottom: 100px;
    border: 3px solid darkorange;
    width: 200px;
    color: #ffff;
    background-color: #004429;
    border: 5px solid #ffffff;
    border-radius: 13px;
    padding: 1.1rem;
   display: none;

  
}
.hurray_close {
  position: absolute;
  width: 60px;
  height: 60px;
  right: -31px;
  top: -29px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #ffffff;
  border-radius: 50%; 
  cursor: pointer;
}

#hurray_all_rules h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.hurray_rules li svg {
  margin-right: 7px;
}
.hurray_rules li {
  font-size: 0.8rem;
  list-style: none;
  text-align: left;
  margin-bottom: 0.6rem;
  letter-spacing: 0.008em;
  text-align: justify;
  z-index: 4;
}

